model/ filter=lfs diff=lfs merge=lfs -text
model/v1 filter=lfs diff=lfs merge=lfs -text
model/v1/meta.json filter=lfs diff=lfs merge=lfs -text
model/v1/spancat filter=lfs diff=lfs merge=lfs -text
model/v1/tagger filter=lfs diff=lfs merge=lfs -text
model/v1/tok2vec filter=lfs diff=lfs merge=lfs -text
model/v1/tokenizer filter=lfs diff=lfs merge=lfs -text
model/v1/vocab filter=lfs diff=lfs merge=lfs -text
model/v1/config.cfg filter=lfs diff=lfs merge=lfs -text
model/v1/spancat/model filter=lfs diff=lfs merge=lfs -text
model/v1/tagger/cfg filter=lfs diff=lfs merge=lfs -text
model/v1/tagger/model filter=lfs diff=lfs merge=lfs -text
model/v1/tok2vec/cfg filter=lfs diff=lfs merge=lfs -text
model/v1/vocab/strings.json filter=lfs diff=lfs merge=lfs -text
model/v1/vocab/vectors.cfg filter=lfs diff=lfs merge=lfs -text
model/v1/spancat/cfg filter=lfs diff=lfs merge=lfs -text
model/v1/tok2vec/model filter=lfs diff=lfs merge=lfs -text
model/v1/vocab/key2row filter=lfs diff=lfs merge=lfs -text
model/v1/vocab/lookups.bin filter=lfs diff=lfs merge=lfs -text
model/v1/vocab/vectors filter=lfs diff=lfs merge=lfs -text
